# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Build files
build/
dist/
*.egg-info/

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Local VAULT files
*.vault
*.localpass

# VAULT backups
.vault_backups/
*.bak